.issue_item {
   border-bottom: solid var(--three-light-color) 1px;
   display: flex;
   flex-direction: column;
   gap: var(--size-1-rem);
   padding: var(--size-1-rem) 0;
   width: 98%;
}

.issue_item_link a {
   font-weight: 700;
   font-size: 14px;
}

.issue_item h3 {
   display: flex;
   gap: var(--size-0-5-rem);
}

.issue_item h3 svg {
   font-size: 18px;
}

.marked {
   margin-right: var(--size-0-5-rem);
   color: var(--main-orange-color);
   font-size: 14px;
}

.issue_item_description {
   color: var(--three-light-color);
   display: flex;
   flex-direction: column;
   gap: var(--size-0-5-rem);
}