.layout_container {
   display: grid;
   min-height: 100vh;
   gap: 0 var(--size-2-rem);
   grid-template-rows: auto 1fr auto;
   grid-template-columns: auto 230px minmax(320px, 1200px) auto;
   grid-template-areas:
      ". header header ."
      ".sidebar main ."
      "footer footer footer footer";
}

.header_container {
   grid-area: header;
   display: none;
}

.sidebar_container {
   grid-area: sidebar;
   background-color: var(--second-light-color);
   border-right: 2px solid var(--main-light-color);
}

.main_container {
   grid-area: main;
   margin-left: var(--size-2-rem);
   margin-right: var(--size-2-rem);
   /* animation: slide-in-fade 0.5s forwards; */
}

.main_container>div {
   /* margin-bottom: var(--size-1-rem); */
}

.footer_container {
   grid-area: footer;
}

@keyframes slide-in-fade {
   0% {
      opacity: 0;
      transform: translateX(100%);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@media (max-width: 850px) {
   .layout_container {
      grid-template-columns: minmax(320px, 1fr);
      grid-template-areas:
         "header"
         "main"
         "footer"
   }

   .sidebar_container {
      display: none;
   }

   .header_container {
      display: block;

   }

   .header_container,
   .main_container {
      margin-left: var(--size-1-rem);
      margin-right: var(--size-1-rem);
   }

   .main_container>div {
      display: flex;
      flex-direction: column;

   }
}