.footer {
   background-color: var(--main-blue-color);
   color: white;
   display: flex;
   justify-content: space-between;
   padding: var(--size-2-rem) var(--size-2-rem);
   align-items: center;
}

.footer_links_content {
   font-size: 17px;
}

.footer_links a {
   text-decoration: none;
}

.footer_links {
   display: flex;
   gap: var(--size-1-rem);
}



.footer_links a i, .footer_links a svg {
   font-size: 20px;
}

@media (max-width: 600px) {
   .footer {
      flex-direction: column;
      gap: var(--size-1-rem);
   }
}