.user_event_item {
   margin-top: var(--size-1-rem);
   background-color: var(--main-light-color);
   padding: var(--size-1-rem);
}

.user_event_item:last-child {
   margin-bottom: var(--size-1-rem);
}

.user_event_item p {
   margin-bottom: var(--size-0-5-rem);
}

.user_event_item p>span {
   margin-right: var(--size-0-5-rem);
   color: rgb(255, 94, 36);
}