.read_more_btn {
   font-weight: bolder;
   font-size: 12px;
   color: var(--second-blue-color);
}

.open {
   animation: fade-in 0.7s forwards;
   /* max-width: 500px; */
   max-height: 300px;
   overflow-x: hidden;
   /* white-space: nowrap; */
   /* text-overflow: ellipsis; */
}

.read_more_btn:hover {
   cursor: pointer;
   text-decoration: underline;
}

/* .read_more_text {
   max-width: 500px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
} */


@keyframes fade-in {
   0% {
      opacity: 0;
      /* transform: translateY(-100%); */
   }

   100% {
      opacity: 1;
      /* transform: translateY(0); */
   }
}