.h1, .h2, .h3 {
   margin: 0;
}

.h1 {
   font-size: 20px;
   font-weight: 800;
   margin-bottom: var(--size-1-rem);

}

.h2 {
   font-size: 16px;
   font-weight: 600;
   margin-bottom: 0.75rem;
}

.h3 {
   font-size: 14px;
   font-weight: 500;
   margin-bottom: var(--size-0-5-rem);
}