.user_list_item {
   display: flex;
   flex-direction: column;
   padding: var(--size-1-rem) 0;
   gap: var(--size-1-rem);
   border-bottom: solid var(--three-light-color) 1px;
   width: 98%;
}

.user_list_item:last-child {
   border-bottom: none;
}


.user_list_item_header {
   display: flex;
   justify-content: space-between;
}

.user_list_item_left {
   display: flex;
   gap: var(--size-1-rem);
}

.user_list_item_content {
   color: var(--four-light-color);
}