.user_repo_item {
   width: 100%;
   margin: auto;
   margin-bottom: var(--size-1-rem);
   display: flex;
   flex-direction: column;
   gap: var(--size-1-5-rem);
}

.user_repo_item_stats {
   display: flex;

}

.user_repo_item_dates {
   display: flex;
   gap: var(--size-1-rem);
}

.user_repo_item_info i,
.user_repo_item_info svg {
   width: 16px;
   height: 16px;
}

.user_repo_item_info p {
   display: flex;
   align-items: center;
   gap: var(--size-0-5-rem);
}

.user_repo_topics_container {
   display: flex;
   flex-direction: column;
}

.user_repo_topics {
   display: grid;
   grid-template-columns: repeat(4, auto);
   width: 50%;
   gap: var(--size-0-5-rem);
   color: var(--four-light-color);
}




@media (max-width: 770px) {

   .user_repo_item_stats,
   .user_repo_item_dates {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
   }

   .user_repo_item_stats {
      gap: var(--size-1-rem);
   }


   .user_repo_topics {
      grid-template-columns: repeat(2, auto);

   }

}