.footer {
   background-color: var(--main-blue-color);
   color: white;
   padding: var(--size-1-5-rem) var(--size-3-rem);
   display: grid;
   grid-template-columns: 1fr auto auto;
   gap: var(--size-1-5-rem);
}

.footer a {
   transition: var(--transaction-0-5-s);
}

.footer a:hover {
   text-decoration: underline;
   /* color: var(--second-light-color); */
}

@media (max-width: 600px) {
   .footer {
      grid-template-columns: 1fr;
      gap: 0.75rem;
   }
}