.gist_item {
   display: flex;
   flex-direction: column;
   gap: var(--size-1-rem);
   padding: var(--size-1-rem) 0;
   border-bottom: solid var(--three-light-color) 1px;
}

.gist_item_header {
   display: flex;
   gap: var(--size-1-rem);
}

.marked {
   color: var(--main-orange-color);
   font-size: 14px;
}

.gist_item_files_container {
   display: flex;
   flex-direction: column;
   gap: var(--size-0-5-rem);
}

.gist_item_files {
   display: grid;
   grid-template-columns: repeat(2, auto);
   width: 50%;
   gap: var(--size-0-5-rem);
   color: var(--three-light-color);
}

.gist_item_files_item {
   display: flex;
   align-items: center;
   gap: var(--size-0-5-rem);
}

.gist_item_files_item a:hover {
   color: var(--main-dark-color);
}

.gist_item_description {
   opacity: 0.7;
   font-size: 14px;
}

@media (max-width: 500px) {

   .gist_item_header {
      flex-direction: column;
      gap: var(--size-0-5-rem);
   }

   .gist_item_files {
      display: grid;
      grid-template-columns: 1fr;
   }
}