.gist_item {
   display: flex;
   flex-direction: column;
   gap: var(--size-0-5-rem);
   margin-top: var(--size-1-rem);
   margin-right: var(--size-1-rem);
   padding: var(--size-0-5-rem);
   border-bottom: solid var(--three-light-color) 1px;
}

.gist_link a {
   font-weight: 600;
}

.marked {
   color: var(--main-orange-color);
   margin-right: var(--size-0-5-rem);
   font-size: 14px;
}

.gist_item_description {
   margin-left: var(--size-0-5-rem);
   color: var(--three-light-color);

}

.gist_item_comments {
   color: var(--three-light-color);
}

.gist_item_files>span {
   margin-right: var(--size-1-rem);

}