.user_profile p {
   padding-bottom: var(--size-0-5-rem);
}

.user_profile a:hover {
   text-decoration: underline;
}

.img {
   box-sizing: 50%;
}

.user_profile_info,
.user_profile_stats {
   display: flex;
}

.user_profile_info p {
   margin-right: var(--size-0-5-rem);
}


@media (max-width: 770px) {

   .user_profile {
      padding: var(--size-1-rem);
   }

   .user_profile_stats {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
   }
}