.badge {
   width: auto;
   min-width: 40px;
   height: 35px;
   border-radius: 10%;
   /* background-color: var(--main-green-color); */
   /* color: var(--main-dark-color); */
   color: black;
   font-weight: bold;
   padding: 0.3rem 0.7rem;
   margin: 0 var(--size-0-5-rem);
}

.blue {
   background-color: var(--second-blue-color);
}

.green {
   background-color: var(--second-green-color);
}

.red {
   background-color: var(--second-red-color);
}

.yellow {
   background-color: var(--second-yellow-color);
}

.outline {
   border: 1px solid var(--three-light-color);
   color: var(--main-dark-color);
   ;

}