 .repo_list_item {
    display: flex;
    flex-direction: column;
    width: 98%;
    padding: var(--size-1-rem) 0;
    gap: var(--size-1-rem);
    border-bottom: solid var(--three-light-color) 1px;
 }

 .repo_list_item:last-child {
    border-bottom: none
 }

 .repo_list_item_header {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
 }

 .repo_list_item_header_left {
    display: flex;
    align-items: center;
    /* gap: var(--size-1-rem); */
 }

 .repo_list_item_info i,
 .repo_list_item_info svg {
    width: 20px;
    height: 20px;
 }



 .repo_list_item_description {
    opacity: 0.7;
    /* color: var(--four-light-color); */
 }

 .repo_list_item_info {
    display: flex;
    gap: var(--size-1-rem);
    align-items: center;
    font-size: 12px;
 }