.home_page_content {
   display: flex;
   flex-direction: column;
   gap: var(--size-1-rem);
}

.home_page_content_repo {
   display: flex;
   gap: var(--size-1-rem);
   font-size: 15px;
}

.home_page_content_repo i {
   font-size: 20px;
}