.user_profile_header {
   display: flex;
   align-items: center;
   gap: var(--size-1-rem);
}

.user_profile_info_header {
   display: flex;
   align-items: center;
   gap: var(--size-0-5-rem);
}

.user_profile_info_links {
   display: flex;
   align-items: center;
   gap: var(--size-0-5-rem);
}

.user_profile_content>div {
   margin-bottom: var(--size-2-5-rem);
}