.menu_item_header {
   cursor: pointer;
   display: flex;
   align-items: center;
   transition: var(--transaction-0-5-s);
   font-weight: 600;
   font-size: 16px;
   margin: var(--size-0-5-rem) 0;
}

.menu_item_header.active {
   color: var(--main-blue-color);
}

.menu_item_header.active:hover,
.menu_item_header:hover {
   color: var(--second-blue-color);
}

.menu_item_header svg {
   margin-right: var(--size-0-5-rem);
}

.menu_item_options {
   overflow-x: hidden;
   visibility: hidden;
   opacity: 0;
   max-height: 0px;
   transition: max-height 0.5s ease;
}

.menu_item_options.open {
   visibility: visible;
   height: auto;
   max-height: 250px;
   opacity: 1;
   transition: max-height 0.6s, opacity 2s, visibility 3s ease;
}

.menu_item_option {
   opacity: 0.7;
   transition: var(--transaction-0-5-s);
   margin-bottom: var(--size-0-5-rem);
   padding-left: var(--size-2-rem);
}

.menu_item_options_active,
.menu_item_option:hover {
   opacity: 1;
}

.menu_item_options_active span,
.menu_item_options_active a {
   margin-left: 0 !important;
}